.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 21px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 0 auto;
  gap: 52px;
  font-family: "Montserrat", serif !important;
}

.timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;

  .time {
    font-family: "Playfair Display", serif !important;
    font-size: 60px;
    font-weight: 900;
    line-height: 64px;
    color: #000000;
  }

  .label {
    font-size: 16px;
    color: #000000;
    font-family: "Montserrat", serif !important;
  }
}

.separator {
  font-size: 65px;
  font-weight: 400;
  color: #000000;
  align-self: flex-start;
  line-height: 100%;
  font-family: "Montserrat", serif !important;
}

.countdown-timer-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 24px;
  border-radius: 21px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 0 auto;
  gap: 0px;
}
.time-mobile {
  font-family: "Playfair Display", serif !important;
  font-size: 36px;
  font-weight: 900;
  line-height: 45px;
  color: #000000;
}
.label-mobile {
  font-size: 12px;
  color: #000000;
  font-family: "Montserrat", serif !important;
}

@media (min-width: 240px) and (max-width: 1024px) {
}
