.custom-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.selected-flag {
  width: 24px;
  height: 16px;
}

.custom-select {
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  appearance: none;
}
