.about-us {
  .left-about-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .title-about-us {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    line-height: 60px;
    padding-left: 16px;
    color: #000;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    width: 100%;
  }
  .description-about-us {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #757575;
    line-height: 140%;
    justify-content: center;
  }
  .user-title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
  }
  .user-system {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    line-height: 100%;
    font-weight: 700;
    color: #079bee;
  }
  .unit {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    color: #079bee;
  }

  .right-about-us {
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 113px 75px;
  }

  .space-right-about-us-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .gap-about-us-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .title-item-right {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 30px;
  }
  .description-item-right {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #757575;
    line-height: 140%;
    font-weight: 400;
  }
}

@media (min-width: 1280px) {
  .calc-width {
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .responsive-about-us {
    display: flex;
    flex-direction: row;
  }
  .grid-responsive-about-us {
    width: 49%;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .calc-width {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .responsive-about-us {
    display: flex;
    flex-direction: row;
  }
  .grid-responsive-about-us {
    width: 49%;
  }
}

@media (min-width: 245px) and (max-width: 959px) {
  .calc-width {
    width: 100%;
  }
  .description-about-us {
    padding-left: 16px;
    padding-right: 16px;
  }
  .responsive-about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .grid-responsive-about-us {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-user-game-responsive {
    display: flex !important;
    flex-direction: row !important;
    gap: 24px !important;
  }
}

@media (min-width: 245px) and (max-width: 680px) {
  .about-us {
    .user-system {
      font-size: 40px;
    }
    .unit {
      font-size: 40px;
    }
    .user-title {
      font-size: 24px;
    }
    .right-about-us {
      padding: 20px 20px;
    }
  }
}
