.game-grid-container {
  padding: 20px;
}

.staggered-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.game-card-wrapper {
  padding: 20px;
  margin-bottom: 0;
  height: 280px;
}

.offset-card {
  margin-top: 60px;
}

.game-card {
  position: relative;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.game-card-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.game-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.game-description {
  font-size: 0.8rem;
  opacity: 0.9;
}

.game-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  mix-blend-mode: soft-light;
  opacity: 0.8;
}

.game-card-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.staggered-grid .game-card-wrapper:nth-child(-n + 4) {
  margin-bottom: 0;
}

////
///
///
.game-list-mobile {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.game-list-desktop {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.even-card {
  margin-top: 12px;
}

.game-card-mobile {
  position: relative;
  width: 200px;
  height: 268px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.game-card-mobile:nth-child(even) {
  margin-top: 30px;
}

.game-img-overlay-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  z-index: 0;
}

.game-card-content-mobile {
  position: relative;
  z-index: 1;
  padding: 12px;
  border-radius: 8px;
  color: white;
}

.game-title-mobile {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.game-description-mobile {
  font-size: 14px;
}
///

@media (min-width: 768px) {
  .list-game-calc-width {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .game-card-wrapper {
    padding: 15px;
  }

  .offset-card {
    margin-top: 40px;
  }

  .game-card {
    height: 200px;
  }

  .game-title {
    font-size: 1.2rem;
  }

  .game-description {
    font-size: 0.7rem;
  }
}
