.header {
  font-family: "Montserrat", sans-serif !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 5%;
  background-color: rgba(0, 0, 0, 0.01);
  position: fixed;
  transition: all 0.3s ease-in-out;

  &.scrolled {
    background: linear-gradient(to right, rgb(75, 0, 130), rgb(138, 43, 226));

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .logo {
    img {
      height: 40px;
      width: auto;
    }
  }

  .main-nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 60px;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
    }

    li {
      margin-left: 2rem;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: #f8c146;
      }
    }

    .language a {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
  }

  &.mobile {
    padding: 0.8rem 5%;

    .logo img {
      height: 32px;
    }

    .mobile-menu-toggle {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      margin-left: auto;
      z-index: 1002;
      position: relative;

      &:focus {
        outline: none;
      }
    }
  }
}

.mobile-menu-fullscreen {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1001;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  &.open {
    transform: translateX(0);
  }

  .menu-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 16px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1.5rem 0;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      transition-delay: 0.1s;

      &:nth-child(2) {
        transition-delay: 0.2s;
      }

      &:nth-child(3) {
        transition-delay: 0.3s;
      }

      &:nth-child(4) {
        transition-delay: 0.4s;
      }

      &:nth-child(5) {
        transition-delay: 0.5s;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
        transition: color 0.3s ease;

        &:hover {
          color: #f8c146;
        }
      }
    }
  }

  &.open nav ul li {
    opacity: 1;
    transform: translateY(0);
  }

  .language a {
    font-weight: 700;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
