.animated-img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: moveLeftRight 3s ease-in-out infinite alternate;
}

.animated-img:hover {
  animation: moveLeftRight 1.5s ease-in-out infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.img-responsive {
  @media (min-width: 580px) {
    max-width: 80%;
    height: auto;
    min-width: 50%;
  }
  @media (min-width: 270px) and (max-width: 579px) {
    max-width: 120%;
    min-width: 120%;
    height: auto;
  }
}
