.animated-img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: fadeInOut 3s infinite alternate;
}

.animated-img:hover {
  animation: rotateImage 1s linear infinite, fadeInOut 3s infinite alternate;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.img-responsive {
  max-width: 80%;
  min-width: 50%;
  height: auto;
}
