// .fade-in-out {
//   animation: fadeInOut 3s ease-in infinite;
// }

// @keyframes fadeInOut {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
.img-responsive {
  max-width: 80%;
  min-width: 50%;
  height: auto;
}
